

.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
 
.App-link {
  color: #61dafb;
}

.Button__button___vS7Mv {
  background-color:rgb(88,155,217)!important;
  padding: none !important
}

span {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue' !important;
  font-size: 14px !important;
  text-transform: none !important;
  color:white!important;
}

.card {
  border-radius: 10px !important;
}

a {
  color: #FFF;
}
a:hover {
   color: pink;
}

.card-btn {
  margin-top: 1rem !important; 
}

.notif {
  text-align: left;
  line-height: 3rem;
}

ul {
  list-style-type: circle !important;
}


h5 {
  color: white;
  font-weight: bold;
}

.nav-stuff {
  color:rgb(88,155,217)!important;
  justify-content: left !important;
  font-size: 2.5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue' !important;
}

.match-btn {
  border:none;
  background-color:rgb(88,155,217)!important;
  margin-right: 3px;
  padding-top: 11px;
  padding-bottom: 19px;
  letter-spacing: 1.1px;
}

.dalogo {
  max-width: 40px;
  position:fixed;
  left:0;
  margin-top: 10px;
}

.image-gallery-image {
  max-width: 10rem;
}